<!doctype html>
%html
  %head
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    %link{:href => 'css/normalize.css'}
    %link{:href => "css/custom.css", :rel => "stylesheet", :type => "text/css"}
  %body
    .center
      %h1{:id => "name"} Anisha Ramnani
      .social
        %i.fa.fa-twitter
        %i.fa.fa-github-alt
        %i.fa.fa-tumblr
        %i.fa.fa-linkedin