<h1> Anisha's Programmer Portfolio </h1>

<p> About: I'm Anisha. I'm a Flatiron Fellow. </p>

<br/>

<a href = "http://playlister-sinatra.herokuapp.com/"> Playlister </a>

<p> This is a simple playlister that parses through song data. </p>

<a href = "https://github.com/anisharamnani/Projects/tree/master/Business_Hours"> Business Hours </a> 

<p> During project week, I did the simple project called Business Hours where we worked with time class. =] </p>

<a href = "http://boiling-dusk-7464.herokuapp.com/"> Emergency Compliment </a>

<p> I worked on this project with Chris Haack. We created a random compliment generator together. </p>

<a href = "http://blashley-quiz.herokuapp.com/"> Blashley Quiz </a> 

<p> I created a quiz in on honor of the Flatiron instructors to find out if you are a Blake or Ashley. </p>

<h2> More Info! </h2>

<a href = "https://github.com/anisharamnani"> Github </a> <br/> 
<a href = "https://twitter.com/anisha_ramnani"> Twitter </a> <br/>
<a href = "http://blurredcommandlines.tumblr.com/"> Tumblr </a>
