@import url(http://fonts.googleapis.com/css?family=Lily+Script+One);
#name {
  font-family: 'Lily Script One', cursive;
  font-size: 100px;
  color: moccasin;
}

body{
  background-color: maroon;
}

i{
  color: moccasin;
  padding: 20px;
  padding-top: 30px; 
  font-size: 30px;
  text-align: center;
  display: inline;
  position:;
}

.center{
 position: absolute;
  left: 50%;
  top: 50%;

  /* You must set a size manually */
  width: 800px;
  height: 100px;

  /* Set negative margins equal to half the size */
  margin-left​: -50px;
  margin-top: -25px;
}​